body {
    padding-top: 0px;
    padding-bottom: 40px;
    background-color: #fff;
}
.alert {
    width: 700px;
    margin: auto;
    margin-bottom: 15px;
}
.container {
    max-width: 980px;
}
.navbar-inverse {
    text-shadow: 0 -1px 0 rgba(0,0,0,.15);
    background-color: #563d7c;
    border-color: #463265;
    box-shadow: 0 1px 0 rgba(255,255,255,.1);
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #ffffff;
    background-color: transparent;
}
.bs-sidenav {
    margin-top: 10px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-shadow: 0 1px 0 #fff;
    background-color: #f7f5fa;
    border-radius: 5px;
    width: 180px;
}
.bs-sidebar .nav > li > a {
    display: block;
    color: #716b7a;
    padding: 5px 20px;
}
.bs-sidebar .nav .nav > li > a {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 30px;
    font-size: 90%;
}
.fade.in {
    background: rgba(0,0,0,0.3);
}
.form-group {
    margin-top: 25px;
}
.table thead > tr > th {
    border-bottom: none;
}
.page-header {
    margin: 20px 0 20px;
}
.well {
    text-align: center;
}
.block-btn {
    margin-top: 20px;
    margin-bottom: 20px;
}
#inst-btn {
    width: 92px;
}
.modal-body {
    padding-left: 10px;
    padding-bottom: 0;
}
.checkbox {
    margin-left: 15px;
}
.progress {
    width: 250px;
}
#error {
    text-align: center;
}
.format-convert {
    display: none;
}
#vm-stat {
    display: none;
}
#lineLegend {
    margin-bottom: 20px;
    padding-left: 25px
}
.netIN {
    border-color: rgb(83,191,189);
    margin: 0.5em;
    border-style: solid;
    border-width: 0 0 0 1em;
    padding: 0 0.3em;
    border-style: solid;
}
.netOUT {
    border-color: rgb(151,187,205);
    margin: 0.5em;
    border-style: solid;
    border-width: 0 0 0 1em;
    padding: 0 0.3em;
    border-style: solid;
}
.diskRD {
    border-color: rgb(83,191,189);
    margin: 0.5em;
    border-style: solid;
    border-width: 0 0 0 1em;
    padding: 0 0.3em;
    border-style: solid;
}
.diskWR {
    border-color: rgb(249,134,33);
    margin: 0.5em;
    border-style: solid;
    border-width: 0 0 0 1em;
    padding: 0 0.3em;
    border-style: solid;
}
@media (max-width: 1200px) {
    form .form-group {
     padding-left: 15px;
     padding-right: 15px;
 }
}
.subnavbar {
            margin-bottom: 2.5em;
    }
    
.subnavbar-inner {
        height: 60px;
        background: #fff;
        border-bottom: 1px solid #d6d6d6;
}

.subnavbar .container > ul {
        display: inline-block;
        
        height: 80px;
        padding: 0;
        margin: 0;
        
}

.subnavbar .container > ul > li {
        float: left;
        
        min-width: 90px;
        height: 60px;
        padding: 0;
        margin: 0;
        
        text-align: center;
        list-style: none;
        
        border-left: 1px solid #d9d9d9;
        
        
}

.subnavbar .container > ul > li > a {
        display: block;
        
        height: 100%;
        padding: 0 15px;
        
        font-size: 12px;
        font-weight: bold;
        color: #b2afaa;
}

.subnavbar .container > ul > li > a:hover {
        color: #888;
        text-decoration: none;
}

.subnavbar .container > ul > li > a > i {
        display: inline-block;
        
        width: 24px;
        height: 24px;
        margin-top: 11px;
        margin-bottom: -3px;
        font-size: 20px;
}

.subnavbar .container > ul > li > a > span {
        display: block;
        
}


.subnavbar .container > ul > li:hover > a {
        
        border-bottom:3px solid #ff7f74;
        color: #383838;
}
    

.subnavbar .dropdown .dropdown-menu a {
        font-size: 12px;
}

    
.subnavbar .dropdown .dropdown-menu {
    text-align: left;
            
        -webkit-border-top-left-radius: 0;
        -webkit-border-top-right-radius: 0;
        -moz-border-radius-topleft: 0;
        -moz-border-radius-topright: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
}
    
    
    
.subnavbar .dropdown-menu::before {
        content: '';
        display: inline-block;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #CCC;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        position: absolute;
        top: -7px;
        left: 9px;
}

.subnavbar .dropdown-menu::after {
        content: '';
        display: inline-block;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid white;
        position: absolute;
        top: -6px;
        left: 10px;
}


.subnavbar .caret {
        margin-top: 4px;
        
        border-top-color: white;
        border-bottom-color: white;
}

.subnavbar .dropdown.open .caret {
        display: none;
}
