{% load i18n %}{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link href="{% static "css/signin.css" %}" rel="stylesheet">
</head>
<body>
<!-- Static navbar -->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
	<div class="container">
            <a class="brand" href="/">pyDash</a>
            <ul class="btn-group btn">
                {% if request.user.is_authenticated %}
                    <li class="">
                        <a href="{% url 'logout' %}">{% trans "Sign out" %}</a>
                    </li>
                {% else %}
                    <li class="">
                        <a href="{% url 'login' %}">{% trans "Sign in" %}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<div class="container">
    {% block content %}{% endblock %}
</div>
<script src="{% static "js/jquery-1.10.2.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
</body>
</html>
